doctype html
html
    head
        title= title
        meta(charset='utf-8')
        link(rel='icon' href=require('Images/favicon.ico'))
        link(rel='stylesheet' href=require('Styles/main.css'))

        block head
    body
        block body
        script(src=require('~Scripts/main.js'))
