h1 Hello Pug!

p.file-js: include:code script.js
p.file-pug-with-ext: include:code demo.pug
p.file-pug-wo-ext: include:code demo

p.alias-js: include:code ALIAS_TO_SCRIPT
p.alias-ts: include:code ALIAS_TO_SCRIPT_TS

p.prefix-alias-js: include:code ~ALIAS_TO_SCRIPT
p.prefix-alias-ts: include:code @ALIAS_TO_SCRIPT_TS