//- filter with block syntax
pre: code.language-html
  :escape
    <!-- HTML -->
    <div>
      <p>Text</p>
    </div>

//- inline syntax
p
  :escape BEGIN <strong>BOLD TEXT</strong> END

p.
  The #[:escape <html>] element is the root element.<br>
  Inside the #[:escape <html>] element there is a #[:escape <body>] element.