p require-string

//- not works with method `compile`, the relative path must start with './'
  img(src=require('image.jpeg'))

img.a1(src=require('./image.jpeg'))
img.a2(src=require('./images/image.jpeg'))
img.a3(src=require('../images/image.jpeg'))