h1 Hello Pug!

//- Note: the 'title' and 'count' are passed variables from Component via query parameters.
h2 Title: #{title}
p Counter: #{count}

//- use with pug-loader option method `html` and addition loader `html-loader`
//-img(src='../assets/image.jpeg')

//- use with pug-loader option method `render` and without any addition loader
img(src=require('../assets/image.jpeg'))

br
button#foo.bar(#myVar md-raised-button [disabled]="isDisabled" (click)="onClick") click me to disable
