h2 Simple web application.
p Hello Pug!

img(src=require('Images/image.jpeg'))

- var colors = require('App/colors.json')
.colors
  each color in colors
    div(style=`background-color:${color.hex};`)= color.name
