html
  head
    link(rel='stylesheet' href=require('./scss/main.scss'))
    script(src=require('./js/main.js'))
  body
    //- Test: invalid code generates error
    //- const str = /.+/$

    h2 Layout
    block body