doctype html
html
    head
        title= title
        meta(charset='utf-8')
        link(rel='icon' href=require('Images/favicon.ico'))
        link(rel='stylesheet' href=require('Styles/main.css'))
        script(src='/main.js')

        block head
    body
        block body
